<form action="/books" method="post">
  <label for="title">Title</label>
  <input name="title" placeholder="Title" />
  <label for="snippet">Snippet</label>
  <input name="snippet" placeholder="Snippet" />
  <button>Create</button>
</form>